autoconf
automake
build-essential
clinfo
cmake
csh
curl
g++-12
gcc-12
gfortran
git
libnetcdf-dev
libtool
libx11-dev
m4
make
ocl-icd-opencl-dev
openbabel
openjdk-21-jre-headless
perl
pkg-config
python3
python3-pip
python3-venv
tar
unzip
wget
